<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aloompa.cue_light_show.flutter_cue_light_show_sdk_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
